# 2021 Bracket!

In [1]:
import pandas as pd
import numpy as np

In [2]:
pred_df = pd.DataFrame(pd.read_csv('../output/ml_march_madness_submission.csv'))
teams_df = pd.DataFrame(pd.read_csv('../resources/kaggle_data/MTeamSpellings.csv', encoding='cp1252'))
pred_df['ID'] = pred_df.ID.str[5:]
pred_df

             ID  Guess   Pred
0     1101_1104      0  0.166
1     1101_1111      1  0.782
2     1101_1116      0  0.179
3     1101_1124      0  0.105
4     1101_1140      0  0.198
...         ...    ...    ...
2273  1452_1457      1  0.608
2274  1452_1458      1  0.668
2275  1455_1457      0  0.398
2276  1455_1458      0  0.438
2277  1457_1458      0  0.454

[2278 rows x 3 columns]

In [3]:
def game_predictor(team1, team2):
    '''predicts outcome, one game at a time'''
    team1_id = teams_df.loc[teams_df.TeamNameSpelling==team1.lower()]['TeamID'].item()
    team2_id = teams_df.loc[teams_df.TeamNameSpelling==team2.lower()]['TeamID'].item()
    matchup = pred_df.loc[(pred_df.ID.str.contains(str(team1_id)))&\
                          (pred_df.ID.str.contains(str(team2_id)))]
    outcome = matchup.Guess.item()
    if outcome == 1:
        if team1_id < team2_id:
            return team1
        else:
            return team2
    else:
        if team1_id < team2_id:
            return team2
        else:
            return team1

In [4]:
# read in tourney tables from wiki
url = 'https://en.wikipedia.org/wiki/2021_NCAA_Division_I_Men%27s_Basketball_Tournament'
tables = pd.read_html(url)

## West Regional

In [21]:
west_reg = tables[5]
west_reg['School'] = west_reg.School.str.replace('State','St.')
west_reg

   Seed              School       Conference Record  Overall Seed Berth type
0     1             Gonzaga       West Coast   26–0             1  Automatic
1     2                Iowa          Big Ten   21–8             7   At-Large
2     3              Kansas           Big 12   20–8            12   At-Large
3     4            Virginia              ACC   18–6            16   At-Large
4     5           Creighton         Big East   20–8            17   At-Large
5     6                 USC           Pac-12   22–7            21   At-Large
6     7              Oregon           Pac-12   20–6            25   At-Large
7     8            Oklahoma           Big 12  15–10            32   At-Large
8     9            Missouri              SEC   16–9            33   At-Large
9    10                 VCU      Atlantic 10   19–7            38   At-Large
10  11*         Wichita St.         American   16–5            45   At-Large
11  11*               Drake  Missouri Valley   25–4            48   At-Large
12   12    UC Santa Barbara         Big West   22–4            50  Automatic
13   13                Ohio              MAC   16–7            51  Automatic
14   14  Eastern Washington          Big Sky   16–7            58  Automatic
15   15        Grand Canyon              WAC   17–6            59  Automatic
16  16*         Norfolk St.             MEAC   16–7            67  Automatic
17  16*     Appalachian St.         Sun Belt  17–11            68  Automatic

In [22]:
print(game_predictor('norfolk st.','appalachian st.'))
print(game_predictor('wichita st.','drake'))

appalachian st.
drake

In [24]:
west_reg = west_reg.loc[(west_reg.School != 'Wichita St.') & (west_reg.School != 'Norfolk St.')]
west_reg_list = west_reg.School.tolist()
west_reg

   Seed              School       Conference Record  Overall Seed Berth type
0     1             Gonzaga       West Coast   26–0             1  Automatic
1     2                Iowa          Big Ten   21–8             7   At-Large
2     3              Kansas           Big 12   20–8            12   At-Large
3     4            Virginia              ACC   18–6            16   At-Large
4     5           Creighton         Big East   20–8            17   At-Large
5     6                 USC           Pac-12   22–7            21   At-Large
6     7              Oregon           Pac-12   20–6            25   At-Large
7     8            Oklahoma           Big 12  15–10            32   At-Large
8     9            Missouri              SEC   16–9            33   At-Large
9    10                 VCU      Atlantic 10   19–7            38   At-Large
11  11*               Drake  Missouri Valley   25–4            48   At-Large
12   12    UC Santa Barbara         Big West   22–4            50  Automatic
13   13                Ohio              MAC   16–7            51  Automatic
14   14  Eastern Washington          Big Sky   16–7            58  Automatic
15   15        Grand Canyon              WAC   17–6            59  Automatic
17  16*     Appalachian St.         Sun Belt  17–11            68  Automatic

In [25]:
def get_results(region_list):

    region_winners = []
    team2=''

    for team in region_list:
        if team != team2:
            team2_index = 0 - 1 - region_list.index(team)
            team2 = region_list[team2_index]
            winner = game_predictor(team, team2)
            region_winners.append(winner)
        else:
            break
    
    return region_winners
    
round2_west = get_results(west_reg_list)
round2_west

['Gonzaga',
 'Iowa',
 'Kansas',
 'Virginia',
 'Creighton',
 'USC',
 'Oregon',
 'Missouri']

## East Regional

In [27]:
east_reg = tables[6]
east_reg['School'] = east_reg.School.str.replace('State','St.')
east_reg_list = east_reg.School.tolist()
east_reg

   Seed             School   Conference Record  Overall Seed Berth type
0     1           Michigan      Big Ten   20–4             4   At-Large
1     2            Alabama          SEC   24–6             5  Automatic
2     3              Texas       Big 12   19–7            11  Automatic
3     4        Florida St.          ACC   16–6            13   At-Large
4     5           Colorado       Pac-12   22–8            20   At-Large
5     6                BYU   West Coast   20–6            23   At-Large
6     7              UConn     Big East   15–7            26   At-Large
7     8                LSU          SEC   18–9            29   At-Large
8     9    St. Bonaventure  Atlantic 10   16–4            39  Automatic
9    10           Maryland      Big Ten  16–13            36   At-Large
10  11*       Michigan St.      Big Ten  15–12            43   At-Large
11  11*               UCLA       Pac-12   17–9            44   At-Large
12   12         Georgetown     Big East  13–12            47  Automatic
13   13     UNC Greensboro     Southern   21–8            54  Automatic
14   14  Abilene Christian    Southland   23–4            55  Automatic
15   15               Iona         MAAC   12–5            62  Automatic
16  16*   Mount St. Mary's    Northeast  12–10            65  Automatic
17  16*     Texas Southern         SWAC   16–8            66  Automatic

In [28]:
print(game_predictor('UCLA','Michigan St.'))
print(game_predictor('Mount St. Marys','Texas Southern'))

UCLA
Texas Southern

In [29]:
east_reg = east_reg.loc[(east_reg.School != 'Michigan St.') & (east_reg.School != "Mount St. Mary's")]
east_reg_list = east_reg.School.tolist()
east_reg

   Seed             School   Conference Record  Overall Seed Berth type
0     1           Michigan      Big Ten   20–4             4   At-Large
1     2            Alabama          SEC   24–6             5  Automatic
2     3              Texas       Big 12   19–7            11  Automatic
3     4        Florida St.          ACC   16–6            13   At-Large
4     5           Colorado       Pac-12   22–8            20   At-Large
5     6                BYU   West Coast   20–6            23   At-Large
6     7              UConn     Big East   15–7            26   At-Large
7     8                LSU          SEC   18–9            29   At-Large
8     9    St. Bonaventure  Atlantic 10   16–4            39  Automatic
9    10           Maryland      Big Ten  16–13            36   At-Large
11  11*               UCLA       Pac-12   17–9            44   At-Large
12   12         Georgetown     Big East  13–12            47  Automatic
13   13     UNC Greensboro     Southern   21–8            54  Automatic
14   14  Abilene Christian    Southland   23–4            55  Automatic
15   15               Iona         MAAC   12–5            62  Automatic
17  16*     Texas Southern         SWAC   16–8            66  Automatic

In [30]:
round2_east = get_results(east_reg_list)
round2_east

['Michigan',
 'Alabama',
 'Texas',
 'Florida St.',
 'Colorado',
 'BYU',
 'UConn',
 'LSU']

## South Regional

In [31]:
south_reg = tables[7]
south_reg['School'] = south_reg.School.str.replace('State','St.')
south_reg_list = south_reg.School.tolist()
south_reg

    Seed          School     Conference Record  Overall Seed Berth type
0      1          Baylor         Big 12   22–2             2   At-Large
1      2        Ohio St.        Big Ten   21–9             6   At-Large
2      3        Arkansas            SEC   22–6             9   At-Large
3      4          Purdue        Big Ten   18–9            14   At-Large
4      5       Villanova       Big East   16–6            18   At-Large
5      6      Texas Tech         Big 12  17–10            22   At-Large
6      7         Florida            SEC   14–9            28   At-Large
7      8  North Carolina            ACC  18–10            31   At-Large
8      9       Wisconsin        Big Ten  17–12            35   At-Large
9     10   Virginia Tech            ACC   15–6            37   At-Large
10    11        Utah St.  Mountain West   20–8            42   At-Large
11    12        Winthrop      Big South   23–1            49  Automatic
12    13     North Texas          C-USA   17–9            52  Automatic
13    14         Colgate        Patriot   14–1            57  Automatic
14    15    Oral Roberts         Summit  16–10            61  Automatic
15    16        Hartford   America East   15–8            64  Automatic

In [32]:
round2_south = get_results(south_reg_list)
round2_south

['Baylor',
 'Ohio St.',
 'Arkansas',
 'Purdue',
 'Villanova',
 'Texas Tech',
 'Florida',
 'North Carolina']

## North Regional

In [33]:
north_reg = tables[7]
north_reg['School'] = north_reg.School.str.replace('State','St.')
north_reg_list = north_reg.School.tolist()
round2_north = get_results(north_reg_list)
round2_north

['Baylor',
 'Ohio St.',
 'Arkansas',
 'Purdue',
 'Villanova',
 'Texas Tech',
 'Florida',
 'North Carolina']

## Sweet Sixteen

In [34]:
round3_west = get_results(round2_west)
round3_east = get_results(round2_east)
round3_south = get_results(round2_south)
round3_north = get_results(round2_north)
print(round3_west)
print(round3_east)
print(round3_south)
print(round3_north)

['Gonzaga', 'Iowa', 'Kansas', 'Creighton']
['Michigan', 'Alabama', 'Texas', 'Colorado']
['Baylor', 'Ohio St.', 'Arkansas', 'Purdue']
['Baylor', 'Ohio St.', 'Arkansas', 'Purdue']

## Elite Eight

In [35]:
round4_west = get_results(round3_west)
round4_east = get_results(round3_east)
round4_south = get_results(round3_south)
round4_north = get_results(round3_north)
print(round4_west)
print(round4_east)
print(round4_south)
print(round4_north)

['Gonzaga', 'Iowa']
['Colorado', 'Alabama']
['Baylor', 'Arkansas']
['Baylor', 'Arkansas']

## Final Four

In [36]:
ff_west = get_results(round4_west)
ff_east = get_results(round4_east)
ff_south = get_results(round4_south)
ff_north = get_results(round4_north)
print(ff_west)
print(ff_east)
print(ff_south)
print(ff_north)

['Gonzaga']
['Colorado']
['Baylor']
['Baylor']

## Championship game

In [37]:
print(game_predictor('Gonzaga','Colorado'))
print(game_predictor('Baylor','Houston'))

Gonzaga
Houston

In [38]:
print(game_predictor('Gonzaga','Houston'))

Gonzaga

In [119]:
all_stats_df = pd.DataFrame(pd.read_csv('../resources/transformed_data/all_stats.csv'))
all_stats_df

,Season,DayNum,Team1,Team2,Tourney,WLoc,WTeamID,ScoreDiff,Team1Seed,Team2Seed,...,AvgStl_Team1,AvgStl_Team2,AvgBlk_Team1,AvgBlk_Team2,AvgPF_Team1,AvgPF_Team2,FG%_Team1,FG%_Team2,FG3%_Team1,FG3%_Team2
0,1985,20,1228,1328,0,0,1228,17,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,25,1106,1354,0,1,1106,7,30,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985,25,1112,1223,0,1,1112,7,10,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,25,1165,1432,0,1,1165,16,30,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,25,1192,1447,0,1,1192,12,16,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172649,2014,146,1163,1277,1,0,1163,6,7,4,...,6.970588,6.941176,6.205882,4.823529,18.264706,18.882353,0.448350,0.474654,0.387200,0.391429
172650,2014,146,1246,1276,1,0,1246,3,8,2,...,4.764706,5.121212,6.235294,2.515152,19.000000,14.545455,0.451239,0.475788,0.325188,0.393812
172651,2014,152,1163,1196,1,0,1163,10,7,1,...,6.970588,7.205882,6.205882,2.852941,18.264706,16.205882,0.448350,0.462096,0.387200,0.368088
172652,2014,152,1246,1458,1,0,1246,1,8,2,...,4.764706,5.000000,6.235294,3.515152,19.000000,14.939394,0.451239,0.457880,0.325188,0.373178
172653,2014,154,1163,1246,1,0,1163,6,7,8,...,6.970588,4.764706,6.205882,6.235294,18.264706,19.000000,0.448350,0.451239,0.387200,0.325188

In [137]:
gonzaga_id = teams_df.loc[teams_df.TeamNameSpelling=='gonzaga']['TeamID'].item()
houston_id = teams_df.loc[teams_df.TeamNameSpelling=='houston']['TeamID'].item()
gon_avg_score = all_stats_df.loc[(all_stats_df.Team1==gonzaga_id)&(all_stats_df.Tourney==1)]['AvgScore_Team1'].mean()
hou_avg_score = all_stats_df.loc[(all_stats_df.Team1==houston_id)&(all_stats_df.Tourney==1)]['AvgScore_Team1'].mean()

print(f'Gonzaga avg score: {round(gon_avg_score,0)}')
print(f'Houston avg score: {round(hou_avg_score,0)}')

Gonzaga avg score: 79.0
Houston avg score: 76.0