# 2021 Bracket!

In [1]:
import pandas as pd
import numpy as np

In [2]:
pred_df = pd.DataFrame(pd.read_csv('../output/ml_march_madness_submission.csv'))
teams_df = pd.DataFrame(pd.read_csv('../resources/kaggle_data/MTeamSpellings.csv', encoding='cp1252'))
pred_df['ID'] = pred_df.ID.str[5:]
pred_df

             ID  Guess   Pred
0     1101_1104      0  0.166
1     1101_1111      1  0.782
2     1101_1116      0  0.179
3     1101_1124      0  0.105
4     1101_1140      0  0.198
...         ...    ...    ...
2273  1452_1457      1  0.608
2274  1452_1458      1  0.668
2275  1455_1457      0  0.398
2276  1455_1458      0  0.438
2277  1457_1458      0  0.454

[2278 rows x 3 columns]

In [3]:
all_seeds ='''1. Gonzaga
2. Baylor
3. Illinois
4. Michigan
5. Alabama
6. Ohio St.
7. Iowa
8. Houston
9. Arkansas
10. West Virginia
11. Texas
12. Kansas
13. Florida St.
14. Purdue
15. Oklahoma St.
16. Virginia
17. Creighton
18. Villanova
19. Tennessee
20. Colorado
21. Southern California
22. Texas Tech
23. BYU
24. San Diego St.
25. Oregon
26. UConn
27. Clemson
28. Florida
29. LSU
30. Loyola Chicago
31. North Carolina
32. Oklahoma
33. Missouri
34. Georgia Tech
35. Wisconsin
36. Maryland
37. St. Bonaventure
38. Virginia Tech
39. VCU
40. Rutgers
41. Syracuse
42. Utah St.
43. Michigan St.
44. UCLA
45. Wichita St.
46. Oregon St.
47. Georgetown
48. Drake
49. Winthrop
50. UC Santa Barbara
51. Ohio
52. North Texas
53. Liberty
54. UNC Greensboro
55. Abilene Christian
56. Morehead St.
57. Colgate
58. Eastern Washington
59. Grand Canyon
60. Cleveland St.
61. Oral Roberts
62. Iona
63. Drexel
64. Hartford
65. Mount St. Mary’s
66. Texas Southern
67. Norfolk St.
68. Appalachian St.'''

In [4]:
seed_list = all_seeds.split('\n')
seed_list2 = []
for seed in seed_list:
    seed = seed.split(' ',1)
    seed_list2.append(seed[1].replace("'",'').lower())
len(seed_list2)

68

In [5]:
tourney_teams = teams_df.loc[teams_df.TeamNameSpelling.isin(seed_list2)]
# tourney_teams_list = tourney_teams.TeamNameSpelling.tolist()
# seed_list_sorted = sorted(seed_list2)
# list(set(seed_list_sorted) - set(tourney_teams_list))

tourney_teams = tourney_teams.append(teams_df.loc[teams_df.TeamNameSpelling=='mount st. marys'])

In [6]:
def game_predictor(team1, team2):
    '''predicts outcome, one game at a time'''
    team1_id = tourney_teams.loc[tourney_teams.TeamNameSpelling\
                                 .str.contains(team1.lower())]['TeamID'].item()
    team2_id = tourney_teams.loc[tourney_teams.TeamNameSpelling\
                                 .str.contains(team2.lower())]['TeamID'].item()
    matchup = pred_df.loc[(pred_df.ID.str.contains(str(team1_id)))&\
                          (pred_df.ID.str.contains(str(team2_id)))]
    outcome = matchup.Guess.item()
    if outcome == 1:
        if team1_id < team2_id:
            return team1
        else:
            return team2
    else:
        if team1_id < team2_id:
            return team2
        else:
            return team2

game_predictor('norfolk st.','appalachian St.')

'appalachian St.'